# Telegram Bot Token from @BotFather
BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ

# Allowed Telegram Usernames or IDs (comma separated). Leave empty to allow everyone.
# Example with usernames: ALLOWED_USERS=helvlor, my_friend_username
# Example with IDs: ALLOWED_USERS=123456789, 987654321
ALLOWED_USERS=
